<suite name="suite1"/>
 <test name="Sanity">
  <groups>
    <run>
        <include name="sanity"/>
    </run>
  </groups>
     <classes>
        <class name="com.actitimeautomation.sampleTestNG.TestNGAnnotations"/>
            <class name="com.actitimeautomation.sampleTestNG.SanityTestGroup"/>
            <class name="com.actitimeautomation.sampleTestNG.RegressionTest"/>
    </classes>
 </test>

<test name="sanity">
        <parameter name="browser" value="chrome"/>
        <parameter name="username" value="UN1"/>
        <parameter name="password" value="PW1"/>
    <classes>
        <class name="com.actitimeautomation.sampleTestNG.SanityTestGroup"/>
        <class name="com.actitimeautomation.sample.WindowsOperations"/>
    </classes>
</test>